/*
I can't place images inside image folder. It doesn't work!
I can't place the icon!
*/
header, section, footer, aside, nav, article {
display: block;
}
 

body{
    font-style: italic;
	font-size: 1.16em;
	font-family:Arial, Verdana, sans-serif;
    text-align: left;
    color:#228653;
    padding: 0%;
    width: 80%;
    height:80%;
    margin: 10% auto 10% auto;
    border: 3px solid #1D8C00;
    border-radius: 3%;
    box-shadow: 10px 0px 0px 0px #777777;
    background: url("../images/tea-leaves.png") repeat center;
    background-color: #42E73A;
}

    #page{
    background-color:#62D99C;
    border: 3px solid #1D8C00;
    border-radius: 1.5%;
}
.icon{
    background: url("../images/icon.icns");
}
 
h1{ 
	color:#1D8C00;
	font-weight: bold;
	font-size: 3em ;
	line-height:1.2em; 
	font-family: georgia, serif;
	text-align: center;
	text-shadow: 2px 2px 7px #111111; 
    background:url("../images/1379717648_23860.icns")no-repeat; 
}

h2{ 
	color:#1D8C00;
    font:1.08em, georgia, serif;
    text-align: center;
    text-shadow: 3px 3px 9px #111111;
    text-transform:lowercase;
    margin:10% auto 10% auto;
   
}
    	
h3{
	color:#1D8C00;
	font-weight: bold; 
	font-size:1.5em;
	font-family:georgia, serif;
	text-align: center;
	letter-spacing: 0.1em;
    text-transform: lowercase;
}
.intro{
    height: 2%;
    background-color:#42E73A;
    width: 100%; 
    margin: 10% auto 10% auto;
    border: 9px dotted #1D8C00;
} 
 
table{
    padding-bottom: 0%;
    margin: 10% auto 10% auto;
    background: url("../images/gradient.png")top;
    font: 1em  "Times New Roman", Times, serif;
    border: 1px solid #A67300;
    text-align: center;

}
th{
     border: 3px solid;
     background-color: #62D99C;
 }
td{
    border: 1px solid #A67300;
    background-color:#42E73A; 
 }

.column1{ 
    float: left; 
    width: 50%;
    height: 70%; 
    padding-right: 2%; 
    margin-right: 5%;
    padding-left: 2.5%;
    
}
.column2{
   float:left; 
   width:35%; 
   height:70%;
   margin:10% auto% 10% auto%;
   border: 3px solid #1D8C00;
   border-radius: 2%; 
  
    
}
a:link { 
    color:#1D8C00; text-decoration: none;

}
a:visited { 
    color:#133CAC;
}
a:hover { 
    text-decoration: underline;
} 
.credits { 
    font-style: italic; 
    word-spacing: 4em;  
}


footer{
    clear:both;
    display:block;
    margin: 10% auto 10% auto;
    padding-top: 0%;
    padding-bottom: 15%;
    padding-right: 3%;
    padding-left: 10%;
    font-size: 0.8em;
    background:url("../images/unknown.jpeg") no-repeat 50% 0%,
    url("../images/unknown-1.jpeg") no-repeat 90% 0%,
    url("../images/images.jpeg") no-repeat 10% 0%;
}






 